/** /** в этом css коде указана стилизация для блока "ЛОТ"  **/
.lots{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 180px 0px 120px 0px;
}

.lots__info{ 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 100%;
}

.lots__heading{
  grid-column: 1 / -1;
  width: 121px;
  margin-left: 40px;
  font-family:Raleway-Bold;
  font-weight: 700; 
  font-size: 40px;
  font-style: normal;
}

.card{
  justify-self: center;
  align-self: center;
  width: 334px;
  height: 596px;

}


.card_type_film{
  background:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Темный слой */
  url(../images/card-lot-01.jpg);

}
.card_type_book{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Темный слой */
  url(../images/card-lot-02.jpg);
}

.card_type_picture{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Темный слой */
  url(../images/card-lot-03.jpg);
}

.card__info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 254px; 
  height: 500px;
  margin: 48px 40px 48px 40px; 

}

.card__title{
  color: var(--color-light);
  font-family:Raleway-Bold;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px; /* толщина линии */
  text-underline-offset: 3px;   /* отступ от текста */
  text-transform: uppercase;
}

.card__text{
  color: var(--color-light);
  font-family: Raleway-Regular;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link{
  margin-left: 40px;
  color: var(--color-dark);
  font-family: Raleway-Regular;
  font-weight: 400;
  
  font-size: 20px;
  font-style: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px; /* толщина линии */
  text-underline-offset: 3px;   /* отступ от текста */
}
