.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 180px;
}

.about__info{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  width: 100%;
}

.about__logo{
  display: flex;                
  justify-content: center;             
  align-items: center;
  width: 250px;        
  height: 250px;
  margin: 24px 0 0 67px;
  border-radius: 50%;
  background-color: var(--color-dark);
}
.about__logo-image{
  width:148px;
  height: 114px;
} 

.about__content{
  display: flex;
  flex-direction: column;
  grid-column: 2; 
  width: 687px;
  text-align: left;
  margin-top: 124px;
}

.about__title{
  margin-bottom: 90px;
  color: var(--color-dark);
  font-family:Raleway-Bold;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text{
  color: var(--color-dark);
  font-family: Raleway-Regular;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

}

.about__text:first-of-type {
  margin-bottom: 24px;
}