.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 157px;
  padding: 0 25px;
}

.about__info{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
  width: 100%;
}

.about__logo{
  display: flex;                
  justify-content: center;             
  align-items: center;
  width: 240px;        
  height: 240px;
  margin: 27px 0 0 46px;
  border-radius: 50%;
  background-color: var(--color-dark);
}
.about__logo-image{
  width:148px;
  height: 114px;
} 

.about__content{
  display: flex;
  flex-direction: column;

  max-width: 693px;
  text-align: left;
  margin-top: 128px;
}

.about__title{
  margin-bottom: 92px;
  color: var(--color-dark);
  font-family:'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text{
  color: var(--color-dark);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  max-width: 688px;
  margin-bottom: 24px;
}

