.footer{
  display: grid;
  grid-template-columns: 1fr  min-content 1fr;
  margin: 0px 50px 0px 50px;
}

.contacts_place_footer{
  justify-self: start;
  align-self: start;
}

.footer__social-list-item,
.footer__menu-link,
#no-underline {
  text-decoration: none;
  list-style-type: none;

}

.footer__common-link{
  color: var(--color-dark);
  font-family: Raleway-Medium;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px; 
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.footer__menu{
  width: 163.9px;
  text-align: center;
}

.footer__social-list{
  display: flex;
  justify-self: end;
  gap: 48px;
  width: 240px; 
}