.footer{
  display: grid;
  grid-template-columns: 1fr  min-content 1fr;
  margin: 0 50px 82px;
}

.contacts_place_footer{
  justify-self: start;
  align-self: start;
}

.footer__menu-item_active{
  text-decoration: none;
}

.footer__common-link{
  color: var(--color-dark);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration-thickness: 1px;
}

.footer__menu{
  width: 163.9px;
  text-align: center;
  line-height: 22px;
}

.footer__social-list{
  display: flex;
  justify-self: end;
  gap: 48px;
  width: 240px; 
}

.contacts{
  display: flex;
  flex-direction: column;
  max-width: 264.57px;
  line-height: 25px;
}
