.header{
  display: grid;
  grid-template-columns: 1fr  min-content 1fr;
  align-items: center;
  padding:92px 50px 96px 50px;
}


.header__menu{
  justify-self: start;
}

.header__links-list{
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.contacts__link,
.header__menu-link{
  color: var(--color-dark);
  font-family: Raleway-Regular;
  font-weight: 400;
  font-size: 18px;
}

.header__menu-link_active,
.header__menu-item_active{  
  text-decoration: none;
  list-style-type: none; 
} 

.header__logo{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 105px;
}

.header__logo-image{
  width: 129.11px;
  height: 104.65px;
}

.contacts_place_header{
  justify-self: end;
  align-self: center;
  width: 240px;
}


.contacts__address{
  color: var(--color-dark);
  font-family: Raleway-Medium;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.cover{
  width: 100%;
  height: auto;
}
