.header{
  display: grid;
  grid-template-columns: 1fr  min-content 1fr;
  align-items: center;
  padding:92px 50px 96px 50px;
}


.header__menu{
  justify-self: start;
}

.header__links-list{
  display: flex;
  gap: 33px;
  list-style-type: circle;
}

.header__menu-link{
  color: var(--color-dark);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline; /* Обязательно */
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.contacts__link{
  color: var(--color-dark);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__menu-link_active,
.header__menu-item_active{  
  text-decoration: none;
  list-style-type: none; 
} 

.header__logo{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 105px;
}


.contacts_place_header{
  justify-self: end;
  align-self: center;
  width: 239px;
}


.contacts__address{
  color: var(--color-dark);
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.cover{
  width: 100%;
  height: auto;
}
