
/** в этом css коде указана стилизация для шапки сайта**/

.header{
  display: grid;
  grid-template-columns: 1fr  min-content 1fr;
  align-items: center;
  width: 100%;
  height: 293px;
  padding:0px 50px;
}


.header__menu{
  width: 391.48px;
  height: 22px;
}

.header__links-list{
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__menu-link,
.contacts__link{
  color: var(--color-dark);
  font-family: Raleway-Medium;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;   
}

.header__menu-link_active,
.header__menu-item_active{  
  text-decoration: none;
  list-style-type: none; 
} 

.header__logo{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 105px;
}

.header__logo-image{
  width: 129.11px;
  height: 104.65px;
}

.header__contacts{
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  max-width: 240px;
  height: 105px;
  text-align: left;
}

.contacts__address{
  color: var(--color-dark);
  font-family: Raleway-Medium;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.cover{
  width: 100%;
  height: auto;
}
