.overlay{
  min-height: 757px;
  background:url(../images/cover.jpg);
  background-repeat: no-repeat; /* Не повторять */
  background-position: center; /* Центрировать */   
  background-size: cover; /* Растянуть пропорционально */
  position: relative;
}

.cover__title{
  width: 100%;
  padding: 165px 20px 53px 50px;
  color: var(--color-light);
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 115px;
  position: relative; 
  text-transform: uppercase;

}

.aligned-text{
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.aligned-text_left{
  text-align: left;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right{
  text-align: right;
}

.cover__description{
  display: flex;
  align-items: center;
  padding:35px 50px;
  z-index: 10;
  position: relative;
}

.cover__description-text{
  color: var(--color-light);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.4px;
  line-height: 28px;
}


.text-transform{
  width: 256px;
  height: 51px;
  margin-left: auto;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  background-color:transparent ;
  cursor: pointer;
  text-transform: uppercase;
}

.text-transform:hover{
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: 0.3s;
}